<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nuhkoca.jokedisplayer">

    <application
        android:name=".JokeDisplayerApp"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        tools:replace="android:label, android:name">
        <activity android:name=".ui.JokeDisplayerActivity" />
    </application>

</manifest>